kinder-api:
  restart: always
  environment:
    - mongodb_host=192.168.1.108
    - redis_host=r-wz92dec9a1e0e2e4.redis.rds.aliyuncs.com
    - redis_password=HuanLin2017
    - redis_db=0
    - 'tablestore_client_endpoint=http://192.168.1.111:80/'
    - tablestore_client_instancename=kinder
    - NPM_CONFIG_LOGLEVEL=info
  memswap_limit: 0
  labels:
    aliyun.scale: '1'
    aliyun.routing.port_7001: 'http://api.mumuimp.com/kinder'
  shm_size: 0
  image: 'registry-vpc.cn-shenzhen.aliyuncs.com/huan0/kinder-api:latest'
  memswap_reservation: 0
  kernel_memory: 0
  mem_limit: 0
